.speech{
 font-size: 15px;
 font-family: Arial;
 color: black;
}

.direction{
font-size: 18px;
color: black;
font-family: Verdana;
background-color: #dddfff;
}
.direction:hover {
 background-color:aquamarine;
 color:indianred;
}

.ant{
    color: brown;
}
.ism{
    color: darkgreen;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 20%;
    font-size: 20px;
    margin: 50px;
}
th,td{
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}
th{
    background-color: chartreuse;
}
tbody tr:hover{
    background-color: #aaabbb;
}
h4:hover{
    text-shadow: 1px 2px 3px rgb(38, 19, 206);
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 20%;
}
h5:hover{
    text-shadow: 1px 2px 3px rgb(22, 184, 16);
    border: 1px solid yellow;
    border-radius: 10px;
    padding: 10px;
    width: 20%;
}
.image{
    text-align: center;
   }
   .navbar{
    position : fixed;
    background-color: #dddfff
    color: blue;
   }
   .navbar ul{
    text-align: center;
   }
   .navbar a i {
    margin-right: 5px; 
}
.navbar li {
    display: inline;
    margin: 0 20px;
}
